<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>{{title}}</h1>
    <p>{{instructions}}</p>
    <form action={{current}} method = {{method}}>
        {% block question%}
        {% for msg in get_flashed_messages() %}
        <h1>{{msg}}</h1>
        {% endfor %}
        {% endblock%}
        <button>{{button}}</button>
    </form>
</body>
</html>